exportPattern("^[[:alpha:]]+")
    export(shinyIRT)
    importFrom("stats", "coef")
    import(magrittr)
    import(shiny)
    import(shinydashboard)
    import(shinycssloaders)
    import(readxl)
    import(stats)
    import(mirt)
    importFrom("psych","fa.parallel")
    importFrom("irtoys","sim")
      importFrom("irtoys","est")
        importFrom("irtoys","ability")

